<div class="header-logo header-logo--custom">
  <a href="{{ homepageUrl|default('https://www.gov.uk') }}" title="" id="logo" class="content">
    <img src="{{ service.customBranding.imageUrl }}" class="custom-branding-image" alt="">
  </a>
</div>
