<link href="{{ css_path }}" media="screen" rel="stylesheet" type="text/css" />
{% if service and service.customBranding and service.customBranding.cssUrl  %}
  <link href="{{ service.customBranding.cssUrl }}" media="screen" rel="stylesheet" type="text/css" />
{% endif %}
