<!--[if lt IE 9]><html class="lte-ie8" lang="{{ htmlLang }}"><![endif]-->
<!--[if gt IE 8]><!--><html lang="{{ htmlLang }}"><!--<![endif]-->
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!--[if IE 8]>
    <script type="text/javascript">
        (function(){if(window.opera){return;}
            setTimeout(function(){var a=document,g,b={families:(g=
                            ["nta"]),urls:["{{assetPath}}stylesheets/fonts-ie8.css?0.13.0"]},
                    c="{{assetPath}}javascripts/vendor/goog/webfont-debug.js?0.13.0",d="script",
                    e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
                    ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
                    .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
        })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="{{assetPath}}stylesheets/fonts.css?0.13.0" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="{{assetPath}}javascripts/ie.js?0.13.0" type="text/javascript"></script>
    <![endif]-->

    <link href="{{ iframeCssPath }}" media="screen" rel="stylesheet" type="text/css" />
</head>