{% if merchantDetails %}
  <ul class="merchant-details">
    <li class="merchant-details-line-1">Service provided by {{ merchantDetails.name }}</li>
    <li class="merchant-details-line-2">{{ merchantDetails.addressLine1 }},
      {% if merchantDetails.addressLine2 %} {{ merchantDetails.addressLine2 }}, {% endif %}
      {{ merchantDetails.city }} {{ merchantDetails.postcode }} {{ merchantDetails.countryName }}</li>
  </ul>
{% endif %}
