<!-- Javascript -->
<script type="text/javascript">
  var i18n = {{{ i18nAsString }}};
</script>
<script src="{{ jsPath }}"></script>
<script type="text/javascript">
  $(function(){
    GOVUK.stickAtTopWhenScrolling.init();
    if ($('main').hasClass('charge-new')) {
      $( document ).ready(function() {
        window.Card = { allowed: {{{ cardsAsStrings }}} };
        formValidation();
        showCardType().init();
      });
    } else if ($('main').hasClass('confirm-page')) {
      $( document ).ready(function() {
        analyticsTrackConfirmClick().init('{{analytics.analyticsId}}', '{{analytics.type}}', '{{analytics.paymentProvider}}', '{{hitPage}}');
      });
    }
  });
</script>
