{# Javascript #}
<script id="govuk-script-analytics" type="text/javascript">
  {% if translationStrings %}
  var i18n = {{ translationStrings | safe }}
  {% endif %}

  var mainWrap = document.getElementsByTagName('main')[0]
  if (mainWrap.classList.contains('charge-new')) {
    window.paymentDetails = {
      description: '{{description}}',
      amount: '{{amount}}',
      chargeID: '{{id}}'
    };

    window.Card = {
      allowed:
        {% if cardsAsStrings %}
          {{ cardsAsStrings | safe }},
        {% else %}
        {},
        {% endif %}
      corporate_card_surcharge_amounts:
        {% if corporateCardSurchargeAmountsAsStrings %}
          {{ corporateCardSurchargeAmountsAsStrings | safe }}
        {% else %}
          {
            credit: 0,
            debit: 0
          }
        {% endif %}
    };
    window.Charge = {
      email_collection_mode: '{{ gatewayAccount.emailCollectionMode | safe }}',
      collect_billing_address: {{ "true" if service.collectBillingAddress else "false" }}
    }
    window.stubWebPaymentsUrl = '{{ stubsUrl }}'
  }

  document.addEventListener('DOMContentLoaded', function() {
    GOVUK.stopDoubleSubmit.init();
    if (mainWrap.classList.contains('charge-new')) {
      formValidation();
      showCardType().init();
    } else if (mainWrap.classList.contains('confirm-page')) {
      analyticsTrackConfirmClick().init('{{analytics.analyticsId}}', '{{analytics.type}}', '{{analytics.paymentProvider}}', '{{analytics.amount}}', '{{hitPage}}');
    }
  });
</script>
<script src="{{ js_path }}"></script>
