{# Javascript #}
<script type="text/javascript">
  var i18n = {{ translationStrings | safe }};
</script>
<script src="{{ js_path }}"></script>
<script id="govuk-script-analytics" type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var mainWrap = document.getElementsByTagName('main')[0]
    GOVUK.stopDoubleSubmit.init();
    if (mainWrap.classList.contains('charge-new')) {
      window.Card = {
        allowed: {},
        corporate_surcharge_amounts: {
          credit: 0,
          debit: 0
        }
      };
      window.Charge = {
        email_collection_mode: '{{ gatewayAccount.emailCollectionMode | safe }}'
      }
      {% if cardsAsStrings %}
      window.Card.allowed = {{ cardsAsStrings | safe }};
      {% endif %}
      {% if corporateSurchargeAmountsAsStrings %}
      window.Card.corporate_surcharge_amounts = {{ corporateSurchargeAmountsAsStrings | safe }};
      {% endif %}
      formValidation();
      showCardType().init();
    } else if (mainWrap.classList.contains('confirm-page')) {
      analyticsTrackConfirmClick().init('{{analytics.analyticsId}}', '{{analytics.type}}', '{{analytics.paymentProvider}}', '{{analytics.amount}}', '{{hitPage}}');
    }
  });
</script>
