build-local.sh
.git
.gihub
coverage
.nyc_output
.settings
.project
*.log
test
pacts
Jenkinsfile
CONTRIBUTING.md
env.sh
.snyk
node_modules
node_modules_local
logs/**/*
.jshintrc
.sass-lint.yml
Dockerfile
.dockerignore
.gitignore
*.txt
.idea
.tmp