.sass-cache
.DS_Store
.start.pid
.project
.settings
.tmp
.start.pid
public
govuk_modules
node_modules/*
*.log
reports

# IntelliJ gubbins
.idea
*.iml
*.ipr
*.iws

public/javascripts/browsered.js

# floobit, intellij plugin used for remote pairing
.floo
.flooignore

# nyc/istanbul
.nyc_output
coverage
pacts
 
# Cypress test runner files
/cypress
/test/cypress/screenshots
/test/cypress/videos
mb.pid
