.sass-cache
.DS_Store
.start.pid
.project
.settings
.tmp
.start.pid
public
govuk_modules
node_modules/*
*.txt
*.log
reports

# IntelliJ gubbins
.idea
*.iml
*.ipr
*.iws

public/javascripts/browsered.js

# floobit, intellij plugin used for remote pairing
.floo
.flooignore

# nyc/istanbul
.nyc_output
coverage
pacts

# ADDED TEMPORARY: Remove following rule when upgraded to Node.js 8
package-lock.json
