// Panels
// ==========================================================================
// GOV.UK front end toolkit dependencies
@import "helpers";

.payment-summary {
  clear: both;
  margin: $gutter 0;

  .inner {
    background-color: $canvas-colour;
    border: $gutter-one-third solid $border-colour;
    padding: $gutter-half;
    @include media(tablet) {
      width: 200px;
    }
    @include media(desktop) {
      width: 250px;
    }
  }
  .inner h2 {
    padding-bottom: 0;
  }

  .inner p {
    @include core-19;
    .amount {
      @include bold-36;
      display: block;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }



  @include media(tablet) {
    margin: 0;
    position: absolute;
    top: $gutter;
    right: 0;
    width: 250px;
  }
  @include media(desktop) {
    width: 300px;
  }
}

.content-fixed {
  @include media {
    position: fixed;
    top: $gutter;
  }
}
