{{< layout}}

{{$pageTitle}}
Privacy policy
{{/pageTitle}}

{{$content}}

<main id="content" class="content-wrapper error-pages grid-row">
<div class="column-two-thirds">
<h1 class="heading-large push-bottom">Privacy policy</h1>

<h2 class="push-top-big">Introduction</h2>

<p>
  GOV.UK Pay is provided by the Government Digital Service (GDS), which is part of the <a href="https://www.gov.uk/government/organisations/cabinet-office">Cabinet Office</a>. We use your personal data to process payments you make for government services.
</p>
<p>
  GOV.UK Pay allows you to make payments securely and helps government organisations to process these payments efficiently. We use payment providers to process these payments through schemes such as Visa, Mastercard, American Express, Discover, JCB and Diners Club.
</p>

<h2 class="push-top-big">
  Scope of this Privacy Policy
</h2>
<p>
  You will be redirected to GOV.UK Pay from a government service you want to use (the “Government Service”), which may be run by another Government Department (the “Referring Department”). 
</p>
<p>
  This privacy policy only covers the way that GOV.UK Pay collects and processes data about you. The Government Service, Referring Department and Payment Service Providers will also process your information. You should read their privacy policies and contact them if you have any questions about the way they will process your information. When we say ‘we’ in this Privacy Policy, we mean the GOV.UK Pay service.
</p>
<p>
  Cabinet Office is the data controller for the data that we collect about you. The Referring Department, and in some circumstances the Payment Service Provider, will be the data controller for the data that they collect about you.
</p>
<p>
  This privacy policy explains the kinds of data that we process, how it’s used, how it’s stored, how it’s protected and how you can find out about it.
</p>

<h2 class="push-top-big">The data we process</h2>

<p>
  We collect and process some data about you when you make a payment via GOV.UK Pay.
</p>
<p>
  This includes:<br/>
  <ul>
    <li>
      data you provide to enable us to process your payment, including things like the name on your card, your card number, card expiry date, and billing address without which we can’t complete your payment
    </li>
    <li>
      your email address or phone number so that we can keep you up to date about the status of your payment
    </li>
    <li>
      your IP address, and details of which version of <a href="https://www.gov.uk/support/browsers">web browser </a>you used, to assist with fraud prevention and improvements to GOV.UK Pay
    </li>
    <li>
      information on how you use the site, using <a href="https://www.gov.uk/support/cookies" >cookies</a> and page tagging techniques to help us improve GOV.UK Pay
    </li>
  </ul>
</p>

<h2 class="push-top-big">How we use and share your data</h2>
<p>
  We pass the payment related data you provide us to one of a number of <a href="https://en.wikipedia.org/wiki/Payment_service_provider">Payment Service Providers</a> to complete your payment. The Payment Service Provider will process your information on behalf of the Referring Department. These companies may use the data you provide to carry out fraud prevention checks.
</p>
<p>
  We will also pass some data that you provide to us back to the Referring Department. 
</p>
<p>
  We will store and use the data you provide - but not your full card number or CVV numbers - in order to administer payments, address issues and disputes following a payment and provide progress updates. We may use sub-contractors to provide some of these services.
</p>

<h2 class="push-top-big">Where we store your data and for how long</h2>

<p>
  Your data is stored on secure servers in the European Economic Area. 
</p>
<p>
  We use sub-contractors to facilitate some aspects of our service, some of which have technical support staff based outside of the EEA. In order for them to fulfil their services, they may from time to time be able to see some of your data. We have strict controls on when and how they can do so.
</p>
<p>
  The information you share with us is covered by EU Data Protection law. 
</p>
<p>
  We will retain some elements your data for a maximum of seven years, which we do only for payment administration purposes and anti-fraud requirements.
</p>

<h2 class="push-top-big">Keeping your data secure</h2>

<p>
  We are committed to protecting the information you provide. We ensure that appropriate steps are taken to prevent the disclosure, theft or unauthorised modification of your information. We understand how important it is to protect personal data and other sensitive information. This includes encrypting the data, as well as ensuring that data is sent via encrypted channels (such as Transport Layer Security). We have procedures and security features in place to keep your data secure once we receive it.
</p>
<p>
  Transmitting information over the internet is generally not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data while it is being transmitted to our site; any transmission is at your own risk. 
</p>
<p>
  We won’t share your information with any other organisations for marketing, market research or commercial purposes, and we will only share your information with other organisations to make it possible to complete your payment and provide you with information on its status.
</p>

<h2 class="push-top-big">Disclosing your information</h2>
<p>
  We will usually only share your information as set out above.
</p>
<p>
  Additionally, we may pass on your data if we have a lawful reason to do so, for example as part of a criminal investigation or fraud prevention activity.
</p>
<h2 class="push-top-big">
  Your rights and how to make a complaint
</h2>
<p>
  You can <a href="https://www.gov.uk/data-protection"> find out what information we hold about you.</a>
</p>
<p>
  If you’re unhappy with the way GOV.UK Pay handles your personal data, you can contact us using this <a href="https://docs.google.com/a/digital.cabinet-office.gov.uk/forms/d/16yl9kbBkrAQDYWnz9zFftKqr7vrghvsHwUOGGAPj9Dc/viewform">link.</a> You’ll get a confirmation within 5 working days that we have received your complaint and a full answer within 20 working days. We will inform you if there’s going to be a delay.
</p>
<p>
  If you’re unhappy with the answer you receive, or need any advice regarding the use of your personal data, you can contact the Information Commissioner’s Office (ICO), <a href="https://ico.org.uk/">https://ico.org.uk/</a>
</p>
</div>
</main>





{{/content}}

{{/layout}}
