{% extends "../layout.njk" %}

{% block pageTitle %}
  Your payment was {{ status }} - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l {{ status }}">Your payment was {{ status }}</h1>
    <p class="govuk-body-l lede">To make any changes to your payment you’ll need to contact the service.</p>
    <p class="govuk-body-l lede">
      <a href="{{ returnUrl }}" id="return-url" class="govuk-link">View your payment summary</a>
    </p>
  </div>
</div>
{% endblock %}
