{% extends "../layout.njk" %}

{% block pageTitle %}
  An error occurred - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l system-error">Sorry, we’re experiencing technical&nbsp;problems</h1>
    {% if returnUrl %}
      <p class="govuk-body-l lede">No money has been taken from your account.</p>
      <p class="govuk-body-l lede">
        <a href="{{ returnUrl }}" id="return-url" class="govuk-link">Go back to try the payment again</a>
      </p>
    {% else %}
      <p class="govuk-body-l lede">No money has been taken from your account, please try again later.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
