{% extends "../layout.njk" %}

{% block page_title %}
  An error occurred - GOV.UK Pay
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper error-pages grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large system-error">Sorry, we’re experiencing technical problems</h1>
      {% if returnUrl %}
        <p class="lede">No money has been taken from your account.</p>
        <a href="{{ returnUrl }}" id="return-url" class="lede">Go back to try the payment again</a>
      {% else %}
        <p class="lede">No money has been taken from your account, please try again later.</p>
      {% endif %}
    </div>
  </main>
{% endblock %}
