@mixin default-transition($time,$animation:ease-out,$delay: 0s,$element: all) {

  @if $time == superSuperShort{ $time: 0.05s; }
  @if $time == superShort     { $time: 0.1s; }
  @if $time == short          { $time: 0.4s; }
  @if $time == long           { $time: 0.7s; }

  @if $animation == reverse { $animation: ease-in; }
  @if $animation == normal  { $animation: ease-out; }

    -webkit-transition: $element $time $animation $delay;
       -moz-transition: $element $time $animation $delay;
        -ms-transition: $element $time $animation $delay;
         -o-transition: $element $time $animation $delay;
            transition: $element $time $animation $delay;
}
