{% extends "../../layout.njk" %}

{% block pageTitle %}
  Your payment is in progress - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your payment is in progress</h1>
    <p class="govuk-body-l">You can either:</p>
    <a class="govuk-body-l" href="/card_details/{{ chargeId }}/3ds_required" id="threeds-required-link">Continue with your payment</a>
    <p class="govuk-body-l">or<br/>
      <a href="{{ returnUrl }}" id="return-url">Go back to try the payment again</a>
    </p>
  </div>
</div>
{% endblock %}
