{% extends "../../layout.njk" %}

{% block pageTitle %}
Your payment is in progress - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your payment is in progress</h1>
    <p class="govuk-body-l">You can either:<br/>
      <a href="/card_details/{{chargeId}}/confirm" id="confirm-link">Continue with your payment</a>
    </p>
    <p class="govuk-body-l">or<br/>
      <a href="{{returnUrl}}" id="return-url">Go back to try the payment again</a>
    </p>
  </div>
</div>
{% endblock %}
