{% extends "../../layout.njk" %}

{% block pageTitle %}
  {{ __p("commonHeadings.inProgress") }} - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ __p("commonHeadings.inProgress") }}</h1>
    <p class="govuk-body-l lede">{{ __p("errorViews.either") }}<br/>
      <a href="/card_details/{{chargeId}}/confirm" id="confirm-link">{{ __p("errorViews.continue") }}</a>
    </p>
    <p class="govuk-body-l lede">{{ __p("commonConjunctions.or") }}<br/>
      <a href="{{ returnUrl }}" id="return-url" class="govuk-link">{{ __p("errorViews.tryAgain") }}</a>
    </p>
  </div>
</div>
{% endblock %}
