{% extends "../../layout.njk" %}

{% block pageTitle %}
  There was a problem with your payment - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l qa-payment-declined">Your payment has been declined</h1>
    <p class="govuk-body-l">Contact your bank for more details. No money has been taken from your account.</p>

    <p class="govuk-body-l"><a href="{{ returnUrl }}" id="return-url">Go back to try the payment again</a></p>
  </div>
</div>
{% endblock %}
