{% extends "../../layout.njk" %}

{% block pageTitle %}
  {{ __("errorViews.problem") }} - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l qa-payment-declined">{{ __("errorViews.declined") }}</h1>
    <p class="govuk-body-l lede">{{ __("errorViews.contactYourBank") }}</p>

    <p class="govuk-body-l lede"><a href="{{ returnUrl }}" id="return-url" class="govuk-link">{{ __("errorViews.tryAgain") }}</a></p>
  </div>
</div>
{% endblock %}
