{{< layout}}

{{$pageTitle}}
Your payment is in progress
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content-wrapper error-pages grid-row">
<div class="column-two-thirds">
  <h1 class="heading-large"> Your payment is in progress </h1>
  <p class="lede"> You can either:</p>
  <!-- TODO PP-545 -->
  <a class="lede" href="/card_details/{{chargeId}}/confirm" id="confirm-link"> Continue with your payment </a>

  <p class="lede">or</p>

  <a href="{{returnUrl}}" class="lede">Go back to start the payment again</a>
</div>
</main>

{{/content}}

{{/layout}}

