{% extends "../../layout.njk" %}

{% block pageTitle %}
  {{ __("commonHeadings.inProgress") }} - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ __("commonHeadings.inProgress") }}</h1>
    <p class="govuk-body-l lede">{{ __("errorViews.either") }}<br/>
      <a href="/card_details/{{ chargeId }}/auth_waiting" id="confirm-link">{{ __("errorViews.continue") }}</a>
    </p>
    <p class="govuk-body-l lede">{{ __("commonConjunctions.or") }}<br/>
      <a href="{{ returnUrl }}" id="return-url" class="govuk-link">{{ __("errorViews.tryAgain") }}</a>
    </p>
  </div>
</div>
{% endblock %}
