{% extends "../../layout.njk" %}

{% block page_title %}
  Your payment was {{ status }} - GOV.UK Pay
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper error-pages grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Your payment was unsuccessful</h1>
      <p class="lede"> No money has been taken from your account.</p>
      <a href="{{ returnUrl }}" id="return-url" class="lede">Go back to try the payment again</a>
    </div>
  </main>
{% endblock %}
