{% extends "../../layout.njk" %}

{% block pageTitle %}
  {{ __("errorViews.paymentStatus") }} {{ status }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l {{ status }}">{{ __("errorViews.paymentStatus") }} {{ status }}</h1>
    <p class="govuk-body-l lede">{{ __("errorViews.toMakeChanges") }}</p>
    <p class="govuk-body-l lede">
      <a href="{{ returnUrl }}" id="return-url" class="govuk-link">{{ __("errorViews.viewSummary") }}</a>
    </p>
  </div>
</div>
{% endblock %}
