{% extends "../../layout.njk" %}

{% block page_title %}
  Your payment was {{ status }}
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper">
    <h1 class="page-title {{ status }}"> Your payment was {{ status }} </h1>
    <p>To make any changes to your payment you’ll need to contact the service.</p>
    <a href="{{ returnUrl }}" id="return-url"> view your payment summary </a>
  </main>
{% endblock %}
