{% extends "../../layout.njk" %}

{% block pageTitle %}
  {{ i18n.errorViews.paymentStatus }} {{ status }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l {{ status }}">{{ i18n.errorViews.paymentStatus }} {{ status }}</h1>
    <p class="govuk-body-l lede">{{ i18n.errorViews.toMakeChanges }}</p>
    <p class="govuk-body-l lede">
      <a href="{{ returnUrl }}" id="return-url" class="govuk-link">{{ i18n.errorViews.viewSummary }}</a>
    </p>
  </div>
</div>
{% endblock %}
