{% extends "../../layout.njk" %}

{% block pageTitle %}
  Your Payment expired - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l session-expired">Your payment session has expired</h1>
    <p class="govuk-body-l">No money has been taken from your account.</p>
    {% if returnUrl %}
      <p class="govuk-body-l">
        <a href="{{ returnUrl }}" id="return-url">Go back to try the payment again</a>
      </p>
    {% endif %}
  </div>
</div>
{% endblock %}
