{% extends "../../layout.njk" %}

{% block page_title %}
  Your Payment expired
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper error-pages grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large session-expired">Your payment session has expired</h1>
      <p class="lede">No money has been taken from your account.</p>
      <p class="lede"><a href="{{ returnUrl }}" id="return-url"> Go back to try the payment again</a></p>
    </div>
  </main>
{% endblock %}
