{{< layout}}

{{$pageTitle}}
Your Payment was cancelled
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content-wrapper error-pages grid-row">
  <div class="column-two-thirds">

	<h1 class="heading-large">Payment cancelled</h1>
	<p class="lede">Your payment has been cancelled by the government service. This may have happened for a number of reasons.</p>
	<p class="lede"><a href="{{returnUrl}}">Go back to start the payment again</a></p>
</div>
</main>

{{/content}}

{{/layout}}
