{% extends "../../layout.njk" %}

{% block pageTitle %}
  {{ __("errorViews.paymentCancelled") }} - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l system-cancel">{{ __("errorViews.paymentCancelledTitle") }}</h1>
    <p class="govuk-body-l lede">{{ __("errorViews.paymentCancelledDescription") }}</p>
    <p class="govuk-body-l lede">
      <a href="{{ returnUrl }}" id="return-url" class="govuk-link">{{ __("errorViews.tryAgain") }}</a>
    </p>
  </div>
</div>
{% endblock %}
