.autocomplete__input,
.autocomplete__menu {
  @include govuk-font($size: 19);
}

.autocomplete__input {
  @extend .govuk-\!-width-three-quarters;
  border: $govuk-border-width-form-element solid $govuk-input-border-colour;

  &--focused {
    outline: $govuk-focus-width solid $govuk-focus-colour;
    // Ensure outline appears outside of the element
    outline-offset: 0;
    // Double the border by adding its width again. Use `box-shadow` for this // instead of changing `border-width` - this is for consistency with
    // components such as textarea where we avoid changing `border-width` as
    // it will change the element size. Also, `outline` cannot be utilised
    // here as it is already used for the yellow focus state.
    box-shadow: inset 0 0 0 $govuk-border-width-form-element;

    @include govuk-if-ie8 {
      // IE8 doesn't support `box-shadow` so double the border with
      // `border-width`.
      border-width: $govuk-border-width-form-element * 2;
    }
  }
}

.autocomplete__hint {
  width: 75%;
  @include govuk-font($size: 19);
}

.autocomplete__menu {
  width: calc(75% - 4px);
}
