.button-reset {
  @include govuk-font($size: 19);
  display: inline;
  margin: govuk-spacing(2) 0 0 2px;
  padding: 0;
  border: 0;
  outline: 0;
  outline-offset: 0;
  color: $govuk-link-colour;
  background: 0 0;
  text-decoration: underline;
  font-size: 19px;
  cursor: pointer;

  &:hover {
    color: $govuk-link-hover-colour;
  }
}
