.hidden {
  display: none;
}

body:not(.js-enabled) {
  .generic-cvc {
    display: block;
  }

  .govuk-form-group.cvc .hidden {
    display: inline;
  }

  .no-js-lowercase {
    display: inline;
    text-transform: lowercase;
  }
}

.govuk-form-group.cvc {
  .cvc {
    float: left;
    margin-right: govuk-spacing(3);
  }

  img {
    position: relative;
    top: -1px;
    max-height: 38px;
    float: left;
    margin-right: govuk-spacing(3);
  }

  .either {
    @include govuk-font($size: 19);
    line-height: 37px!important;
    color: $govuk-secondary-text-colour;
    float: left;
    margin-right: govuk-spacing(3);
  }
}
