.input-confirm {
  @include govuk-font($size: 19);
  margin-top: govuk-spacing(1) * -1;

  @include govuk-media-query($from: tablet) {
    margin-top: govuk-spacing(3) * -1;
  }

  span {
    display: block;
  }

  .input-confirmation {
    @include govuk-font($size: 24);
    color: $govuk-text-colour;
  }
}
