@use "govuk-frontend/dist/govuk" as govuk-frontend;

.input-confirm {
  @include govuk-frontend.govuk-font($size: 19);
  margin-top: govuk-frontend.govuk-spacing(1) * -1;

  @include govuk-frontend.govuk-media-query($from: tablet) {
    margin-top: govuk-frontend.govuk-spacing(3) * -1;
  }

  span {
    display: block;
  }

  .input-confirmation {
    @include govuk-frontend.govuk-font($size: 24);
    color: govuk-functional-colour(text);

    .email-container & {
      word-break: break-all;
    }
  }
}
