.payment-request-logo {
  float: left;
  margin-top: -.25rem;
  margin-right: govuk-spacing(3);
  max-height: 2rem;
  width: auto;
}

#web-payments-container {
  display: none;
}

.payment-request-radios .govuk-radios__item:not(:last-child ){
  display: none;
}

// Toggle Apple Pay
.apple-pay-available {
  #web-payments-container {
    display: block;

    .payment-request-radios .govuk-radios__item:first-child {
      display: block;
    }
  }

  #enter-card-details-container {
    display: none;
  }
}

.apple-pay-unavailable {
  .payment-request-radios .govuk-radios__item:first-child {
    display: none;
  }
}

// Toggle Google Pay
.google-pay-available {
  #web-payments-container {
    display: block;

    .payment-request-radios .govuk-radios__item:nth-child(2) {
      display: block;
    }
  }

  #enter-card-details-container {
    display: none;
  }
}

.google-pay-unavailable {
  .payment-request-radios .govuk-radios__item:nth-child(2) {
    display: none;
  }
}

