@use "govuk-frontend/dist/govuk" as *;

.payment-summary {
  border-top: 2px solid govuk-functional-colour(brand);
  padding: govuk-spacing(3);
  background-color: govuk-colour('black', $variant: 'tint-95');

  .amount {
    display: block;
  }
}
