@use "govuk-frontend/dist/govuk" as govuk-frontend;

.govuk-text-align-center {
  text-align: center;
}

.govuk-text-align-center-s {
  text-align: center;

  @include govuk-frontend.govuk-media-query($from: tablet) {
    text-align: left;
  }
}
