.apple-pay-container {
  display: none;

  .apple-pay-available & {
    display: block;
  }
}

.google-pay-container {
  display: none;

  .google-pay-available & {
    display: block;
  }
}

.web-payment-button-section {
  display: none;

  .apple-pay-available &,
  .google-pay-available & {
    display: block;
  }
}

.non-web-payment-button-section {
  display: block;

  .apple-pay-available &,
  .google-pay-available & {
    display: none;
  }
}

.web-payment-button {
  &:hover {
    background-color: #000;
  }

  &[disabled] {
    background: $govuk-secondary-text-colour;
  }

  // https://developer.apple.com/documentation/apple_pay_on_the_web/displaying_apple_pay_buttons
  &--apple-pay {
    @supports (-webkit-appearance: -apple-pay-button) {
      display: inline-block;
      width: 100%;
      min-width: 200px;
      height: 40px;
      min-height: 32px;
      max-height: 64px;
      border-radius: 4px;
      -webkit-appearance: -apple-pay-button;
      -apple-pay-button-style: black;
    }

    @supports not (-webkit-appearance: -apple-pay-button) {
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
      min-width: 200px;
      height: 40px;
      min-height: 32px;
      padding: 0;
      border-radius: 4px;
      background-color: #000;
      background-image: -webkit-named-image(apple-pay-logo-white);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100% 60%;
    }
  }

  // https://developers.google.com/pay/api/web/overview
  &--google-pay {
    width: 100%;
    min-width: 200px;
    height: 40px;
    min-height: 40px;
    padding: 12px 24px 10px;
    border: 0;
    border-radius: 4px;
    background-color: #000;
    box-shadow: none;
    cursor: pointer;

    &:focus {
      .google-pay-image {
        filter: invert(100%);
      }
    }

    &:hover {
      .google-pay-image {
        filter: invert(0);
      }
    }
  }

  @include govuk-media-query($until: desktop) {
    margin-top: govuk-spacing(2);
  }

  @include govuk-media-query($from: tablet) {
    width: 200px;
  }
}
