.accepted-cards {
  display: block;
  margin: 15px 0 10px;
  padding: 0;
  float: none;
  overflow: hidden;

  li {
    display: block;
    width: 50px;
    height: 34px;
    margin-right: 5px;
    float: left;
    background-size: 100%;
  }

  $cards: american-express diners-club discover jcb master-card visa unionpay;
  @for $i from 1 through length($cards) {
    li.#{nth($cards, $i)} {
      background-image: url("/images/#{nth($cards, $i)}-bw.png");
    }

    &.field-empty li.#{nth($cards, $i)},
    li.#{nth($cards, $i)}.selected {
      background-image: url("/images/#{nth($cards, $i)}-color.png");
    }
  }
}
