.accepted-cards {
  li {
    display: block;
    float: left;
    width: 67px;
    height: 46px;
    background-size: 100%;
    $cards: american-express diners-club discover jcb master-card visa;
    @for $i from 1 through length($cards) {
      &.#{nth($cards, $i)} {
        background-image: url("/public/images/#{nth($cards, $i)}-bw.png")
      }
      &.#{nth($cards, $i)}.selected {
        background-image: url("/public/images/#{nth($cards, $i)}-color.png")
      }
    }

  }

}
