body:not(.js-enabled) .form-group.cvc .hidden {
  display: block;
  visibility: visible;
  margin-right: 3px;
  float: left;
}

body:not(.js-enabled) .form-group.cvc .amex-cvc {
  text-transform: lowercase;
}

body:not(.js-enabled) .form-group.cvc .amex-cvc {
  margin-left: 10px;
}

.form-group.cvc {
  .cvc {
    margin-right: $gutter-half;
    float: left;
  }

  img {
    position: relative;
    top: -1px;
    max-height: 38px;
    margin-right: 15px;
    float: left;
  }

  .either {
    margin-right: 15px;
    float: left;
    color: $secondary-text-colour;
    line-height: 38px;
  }

  .form-hint {
    overflow: hidden;
  }

  .generic-cvc {
    display: block;
  }
}
