body:not(.js-enabled) .form-group.cvc .hidden {
  display: block;
  visibility: visible;
  float: left;
  margin-right: 3px;
}

body:not(.js-enabled) .form-group.cvc .amex-cvc {
  text-transform: lowercase;
}

body:not(.js-enabled) .form-group.cvc img.amex-cvc {
  margin-left: 10px;
}


.form-group.cvc {
  .cvc {
    float: left;
    margin-right: $gutter-half;
  }

  img {
    float: left;
    max-height: 38px;
    position: relative;
    top: -1px;
    margin-right: 15px;
    float: left;
  }
  .either {
    float: left;
    float: left;
    line-height: 38px;
    margin-right: 15px;
    color: $secondary-text-colour;
  }
  .form-hint {
    overflow: hidden;
  }

  span.generic-cvc {
    display: block;
  }
}
