.pay-divider {
  @include govuk-font($size: 19);

  display: block;
  position: relative;
  margin-bottom: govuk-spacing(6);
  text-align: center;

  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 50%;
    width: 100%;
    display: block;
    border-top: 1px solid $govuk-border-colour;
  }

  &--word {
    position: relative;
    z-index: 1;
    padding: 0 govuk-spacing(1);
    background:  govuk-colour('white');
  }
}
