<!DOCTYPE html>
<html>
{% block head %}
    {% include "includes/iframe_head.njk" %}
{% endblock %}
<body OnLoad="OnLoadEvent();">
<noscript>
    <p class="govuk-body-l lede">{{ i18n.authorisation.approved }}</p>
</noscript>
<form name="three_ds_required" method="post" action="{{ threeDsHandlerUrl }}" target="_top">
    <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
    {% if paResponse %}
        <input type="hidden" name="PaRes" value="{{ paResponse }}"/>
    {% endif %}
    {% if providerStatus %}
        <input type="hidden" name="providerStatus" value="{{ providerStatus }}"/>
    {% endif %}
    {% if md %}
        <input type="hidden" name="MD" value="{{ md }}"/>
    {% endif %}
    <noscript>
        <button id="confirm" class="govuk-button">{{ i18n.commonButtons.continueButton}}</button>
    </noscript>
</form>

<script>
  function OnLoadEvent () {
    document.three_ds_required.submit()
  }
</script>
</body>
</html>
