{% extends "layout.njk" %}

{% block pageTitle %}Payment in progress{% endblock %}

{% block head %}
  {% include "includes/head.njk" %}
  {% include "includes/analytics.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l form-title">Payment in progress</h1>
    <p class="govuk-body-l">You may need to complete some extra verification steps.</p>
    <iframe class="iframe-3ds" src="3ds_required_out">
    </iframe>
  </div>
</div>
{% endblock %}
