{% extends "layout.njk" %}

{% block pageTitle %}
  {{ __p("authorisation.processingPayment") }}
{% endblock %}

{% block head %}
  {% if service and service.customBranding and service.customBranding.cssUrl  %}
    <link href="{{ service.customBranding.cssUrl }}" media="screen" rel="stylesheet" type="text/css" />
  {% else %}
    <link href="{{ css_path }}" media="screen" rel="stylesheet" type="text/css" />
  {% endif %}

  {% include "includes/analytics.njk" %}
  <meta http-equiv="refresh" content="2" />
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l form-title">{{ __p("authorisation.processing") }}</h1>
    <p class="govuk-body-l lede">{{ __p("authorisation.processingPayment") }}</p>
    <div id="spinner">
      <img src="/images/spinner.gif" alt="{{ __p("authorisation.spinnerAltText") }}"/>
    </div>
  </div>
</div>
{% endblock %}
