{% extends "layout.njk" %}

{% block pageTitle %}
  Processing your payment
{% endblock %}

{% block head %}
  {% include "includes/head.njk" %}
  {% include "includes/analytics.njk" %}
  <meta http-equiv="refresh" content="2" />
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l form-title">Processing card details</h1>
    <p class="govuk-body-l">Your payment is being processed.</p>
    <div id="spinner">
      <img src="/images/spinner.gif" alt="waiting"/>
    </div>
  </div>
</div>
{% endblock %}
