{{< layout}}

{{$pageTitle}}
Enter your card details.
{{/pageTitle}}

{{$content}}
<main id="content" role="main" class="content-wrapper">

    {{#errorMessage}}
      <div class="error-summary" role="group" >
          <h1 class="heading-medium error-summary-heading" id="error-message">The following fields are missing or contain errors</h1>
          <ul class="error-summary-list">
            {{#errorFields}}
              <li><a href="#{{key}}-lbl" id="{{key}}-error">{{value}}</a></li>
            {{/errorFields}}
          </ul>
      </div>
    {{/errorMessage}}

  <h1 class="form-title">Pay by card</h1>

  <form id="card-details" name="cardDetails" method="POST" action="{{post_card_action}}" class="form">
      <input id="charge-id" name="chargeId" type="hidden" value="{{id}}" />
      <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />

      <div class="form-group{{#highlightErrorFields.cardholderName}} error{{/highlightErrorFields.cardholderName}}">
          <label id="cardholder-name-lbl" for="cardholder-name" class="form-label-bold">
              Name on card
              {{#highlightErrorFields.cardholderName}}
                  <p class="error-message" id="error-cardholder-name">
                    {{highlightErrorFields.cardholderName}}
                  </p>
              {{/highlightErrorFields.cardholderName}}
              <input id="cardholder-name" type="text" name="cardholderName" maxlength="200" class="form-control-1-2">
          </label>
      </div>
      <div class="form-group{{#highlightErrorFields.cardNo}} error{{/highlightErrorFields.cardNo}}">
          <label id="card-no-lbl" for="card-no" class="form-label-bold">
              Card number
              {{#highlightErrorFields.cardNo}}
                <p class="error-message" id="error-card-no">
                    {{highlightErrorFields.cardNo}}
                </p>
              {{/highlightErrorFields.cardNo}}
              <input id="card-no" type="text" name="cardNo" maxlength="19" class="form-control-1-2">
          </label>
      </div>
      <div class="form-group{{#highlightErrorFields.cvc}} error{{/highlightErrorFields.cvc}}">
          <label id="cvc-lbl" for="cvc" class="form-label-bold">
              Card security code
              <p class="form-hint">This is the 3 digit code on the back of your card</p>
              {{#highlightErrorFields.cvc}}
                  <p class="error-message" id="error-cvc">
                        {{highlightErrorFields.cvc}}
                  </p>
              {{/highlightErrorFields.cvc}}
              <input id="cvc" type="text" value="" name="cvc" maxlength="3" class="form-control-1-8 cvc">
          </label>
      </div>
      <div class="form-group{{#highlightErrorFields.expiryDate}} error{{/highlightErrorFields.expiryDate}}">
          <label id="expiry-date-lbl" for="expiry-date" class="form-label-bold">
              Expiry date
              <p class="form-hint">For example, 07/17</p>
              {{#highlightErrorFields.expiryDate}}
                <p class="error-message" id="error-expiry-date">
                    {{highlightErrorFields.expiryDate}}
                </p>
              {{/highlightErrorFields.expiryDate}}
              <input id="expiry-date" type="text" name="expiryDate" maxlength="5" class="form-control-1-8 cvc">
          </label>
      </div>

      <div class="form-group address{{#highlightErrorFields.addressLine1}} error{{/highlightErrorFields.addressLine1}}">
          <h2>Billing address</h2>
          <p class="form-hint">This is the address associated with the card</p>
          <label id="address-line-1-lbl" for="address-line-1" class="form-label-bold">
              Building name and/or number and street
              {{#highlightErrorFields.addressLine1}}
                <p class="error-message" id="error-address-line-1">
                    {{highlightErrorFields.addressLine1}}
                </p>
              {{/highlightErrorFields.addressLine1}}
              <input id="address-line-1" type="text" name="addressLine1" maxlength="100" class="form-control-1-2">
          </label>
          <input id="address-line-2" type="text" name="addressLine2" maxlength="100" class="form-control-1-2">
      </div>

      <div class="form-group{{#highlightErrorFields.addressLine1}} error{{/highlightErrorFields.addressLine1}}">
          <label id="address-city-lbl" for="address-city" class="form-label-bold">
              Town or city
              {{#highlightErrorFields.addressLine1}}
                <p class="error-message" id="error-address-city">
                    {{highlightErrorFields.addressLine1}}
                </p>
              {{/highlightErrorFields.addressLine1}}
              <input id="address-city" type="text" name="addressCity" maxlength="100" class="form-control-1-4">
          </label>
      </div>
      <div class="form-group{{#highlightErrorFields.addressPostcode}} error{{/highlightErrorFields.addressPostcode}}">
          <label id="address-postcode-lbl" for="address-postcode" class="form-label-bold">
              Postcode
              {{#highlightErrorFields.addressPostcode}}
                <p class="error-message" id="error-address-postcode">
                    {{highlightErrorFields.addressPostcode}}
                </p>
              {{/highlightErrorFields.addressPostcode}}
              <input id="address-postcode" type="text" name="addressPostcode" maxlength="10" class="form-control-1-8">
          </label>
      </div>
      <div>
          <input id="submit-card-details" type="submit" class="button" value="Make payment" name="submitCardDetails">
      </div>
  </form>

    <aside class="payment-summary">
        <div class="inner js-stick-at-top-when-scrolling">
            <h2>Payment summary</h2>
            <p>
                Description:
                <span id="payment-description">{{description}}</span></p>
            </p>
            <p>
                Amount to pay:
                <span id="amount" class="amount">£{{amount}}</span></p>
            </p>
        </div>
    </aside>

</main>

{{/content}}

{{/layout}}
