{% extends "layout.njk" %}

{% block pageTitle %}
  {{ __("confirmDetails.title") }}
{% endblock %}

{% set mainClasses = "confirm-page" %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ __("confirmDetails.title") }}</h1>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-width-one-third govuk-!-padding-top-3 govuk-!-padding-bottom-3" scope="row">
            {{ __("confirmDetails.card") }}
          </th>
          <td class="govuk-table__cell govuk-!-font-weight-bold" id="card-number">
            {{ charge.cardDetails.cardNumber }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-width-one-third govuk-!-padding-top-3 govuk-!-padding-bottom-3" scope="row">
            {{ __("confirmDetails.expiry") }}
          </th>
          <td class="govuk-table__cell govuk-!-font-weight-bold" id="expiry-date">
            {{ charge.cardDetails.expiryDate }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-width-one-third govuk-!-padding-top-3 govuk-!-padding-bottom-3" scope="row">
            {{ __("confirmDetails.name") }}
          </th>
          <td class="govuk-table__cell govuk-!-font-weight-bold" id="cardholder-name">
            {{ charge.cardDetails.cardholderName }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-width-one-third govuk-!-padding-top-3 govuk-!-padding-bottom-3" scope="row">
            {{ __("confirmDetails.address") }}
          </th>
          <td class="govuk-table__cell govuk-!-font-weight-bold" id="address">
            {{ charge.cardDetails.billingAddress }}
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-width-one-third govuk-!-padding-top-3 govuk-!-padding-bottom-3" scope="row">
            {{ __("confirmDetails.email") }}
          </th>
          <td class="govuk-table__cell govuk-!-font-weight-bold" id="email">
            {{ charge.email }}
          </td>
        </tr>
      </tbody>
    </table>

    <form id="confirmation" method="POST" action="{{ confirmPath }}" class="form">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      <input id="chargeId" name="chargeId" type="hidden" value="{{ charge.id }}"/>
      <button id="confirm" class="govuk-button govuk-!-margin-top-6" data-module="stop-double-submit">{{ __("commonButtons.confirmButton") }}</button>
    </form>
    <form id="cancel" name="cancel" method="POST" action="{{ post_cancel_action }}" class="form">
      <div>
        <input id="cancel-payment" type="submit" class="button-reset" value="{{ __("commonButtons.cancelButton") }}" name="cancel">
        <input id="csrf2" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      </div>
    </form>
  </div>
  <div class="govuk-grid-column-one-third payment-summary-wrap">
    <aside class="payment-summary">
      <h2 class="govuk-heading-m">{{ __("paymentSummary.title") }}</h2>
      <p id="payment-description" class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-39">
        {{ charge.description }}
      </p>
      <p class="govuk-body govuk-!-font-size-39 govuk-!-margin-bottom-0">
        {{ __("paymentSummary.totalAmount") }}
        <span id="amount" class="amount govuk-!-font-size-36 govuk-!-font-weight-bold">£{{ charge.amount }}</span>
      </p>
    </aside>
  </div>
</div>
{% endblock %}
