{{< layout}}

{{$pageTitle}}
Confirm your details.
{{/pageTitle}}

{{$content}}

<main id="content" role="main" class="content-wrapper">

    <h1 class="form-title">Check your details are correct before confirming</h1>


    <table class="confirm-details">
        <tr>
            <td>Name on card:</td>
            <td id="cardholder-name" class="details">{{cardholderName}}</td>
        </tr>
        <tr>
            <td>Card number:</td>
            <td id="card-number" class="details">{{cardNumber}}</td>
        </tr>
        <tr>
            <td>Expiry date:</td>
            <td id="expiry-date" class="details">{{expiryDate}}</td>
        </tr>
        <tr>
            <td>Billing address:</td>
            <td id="address" class="details">{{address}}</td>
        </tr>
        <tr>
            <td>Payment for:</td>
            <td id="payment-description" class="details">{{paymentDescription}}</td>
        </tr>
        <tr>
            <td>Payment amount:</td>
            <td id="amount" class="details">£{{amount}}</td>
        </tr>

    </table>

    <form id="confirmation" method="POST" action="{{confirmUrl}}">
        <input id="chargeId" name="chargeId" type="hidden" value="{{charge_id}}" />
        <button id="confirm" class="button">Confirm</button>
    </form>

</main>

{{/content}}

{{/layout}}
