{{< layout}}

{{$pageTitle}}
Confirm your details.
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

    <a id="back" href="{{backUrl}}" class="previous-page">Back</a>

    <h1>Check your details are correct before confirming</h1>


    <table class="confirm-details">
        <tr>
            <td>Name on card:</td>
            <td id="cardholderName">{{cardholderName}}</td>
        </tr>
        <tr>
            <td>Card number:</td>
            <td id="cardNumber">{{cardNumber}}</td>
        </tr>
        <tr>
            <td>Expiry date:</td>
            <td id="expiryDate">{{expiryDate}}</td>
        </tr>
        <tr>
            <td>Billing address:</td>
            <td id="address">{{address}}</td>
        </tr>
        <tr>
            <td>Payment of:</td>
            <td id="serviceName">{{serviceName}}</td>
        </tr>
        <tr>
            <td>Amount to pay:</td>
            <td id="amount">£{{amount}}</td>
        </tr>

    </table>

    <form id="confirmation" method="POST" action="{{confirmUrl}}">
        <input id="chargeId" name="chargeId" type="hidden" value="{{charge_id}}" />
        <button id="confirm" class="button">Confirm</button>
    </form>

</main>

{{/content}}

{{/layout}}
