{% extends "layout.njk" %}
{% from "components/button/macro.njk" import govukButton %}
{% from "components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{ __p("confirmDetails.title") }}
{% endblock %}

{% set mainClasses = "confirm-page" %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{ __p("confirmDetails.title") }}</h1>
    <form id="confirmation" method="POST" action="{{ confirmPath }}" class="form">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      <input id="chargeId" name="chargeId" type="hidden" value="{{ charge.id }}"/>
      {% set confirmButtonHTML %}
        {{ __p("confirmDetails.pay") }}
        <span class="govuk-!-font-weight-bold">£{{ charge.totalAmount if charge.totalAmount else charge.amount }}</span>
        {{ __p("confirmDetails.now") }}
      {% endset %}
      {{
        govukButton({
          html: confirmButtonHTML,
          classes: "govuk-!-font-size-24 pay-button--custom",
          attributes: {
            id: 'confirm',
            'data-module': 'stop-double-submit'
          }
        })
      }}
    </form>

    {% if charge.corporateCardSurcharge %}
      {% set chargeDetailsArray = [
        [
          {
            text: __p('confirmDetails.description')
          },
          {
            text: charge.description,
            classes: 'govuk-!-width-two-thirds',
            attributes: {
              id: 'payment-description'
            }
          }
        ],
        [
          {
            text: __p('paymentSummary.amount')
          },
          {
            text: '£' + charge.amount,
            classes: 'govuk-!-width-two-thirds',
            attributes: {
              id: 'payment-summary-breakdown-amount'
            }
          }
        ],
        [
          {
            text: __p('paymentSummary.corporateCardFee')
          },
          {
            text: '£' + charge.corporateCardSurcharge,
            classes: 'govuk-!-width-two-thirds',
            attributes: {
              id: 'payment-summary-corporate-card-fee'
            }
          }
        ],
        [
          {
            text: __p('paymentSummary.totalAmount')
          },
          {
            text: '£' + charge.totalAmount,
            classes: 'govuk-!-width-two-thirds',
            attributes: {
              id: 'amount'
            }
          }
        ]
      ] %}
    {% else %}
      {% set chargeDetailsArray = [
        [
          {
            text: __p('confirmDetails.description')
          },
          {
            text: charge.description,
            classes: 'govuk-!-width-two-thirds',
            attributes: {
              id: 'payment-description'
            }
          }
        ],
        [
          {
            text: __p('paymentSummary.amount')
          },
          {
            text: '£' + charge.amount,
            classes: 'govuk-!-width-two-thirds',
            attributes: {
              id: 'amount'
            }
          }
        ]
      ] %}
    {% endif %}

    {{
      govukTable({
        caption: __p('paymentSummary.title'),
        captionClasses: 'govuk-!-font-size-24 govuk-!-margin-top-3 govuk-!-margin-bottom-3',
        firstCellIsHeader: true,
        rows: chargeDetailsArray
      })
    }}

    {% set cardDetailsArray = [
      [
        {
          text: __p('confirmDetails.card')
        },
        {
          text: charge.cardDetails.cardNumber,
          classes: 'govuk-!-width-two-thirds',
          attributes: {
            id: 'card-number'
          }
        }
      ],
      [
        {
          text: __p('confirmDetails.expiry')
        },
        {
          text: charge.cardDetails.expiryDate,
          classes: 'govuk-!-width-two-thirds',
          attributes: {
            id: 'expiry-date'
          }

        }
      ],
      [
        {
          text: __p('confirmDetails.name')
        },
        {
          text: charge.cardDetails.cardholderName,
          classes: 'govuk-!-width-two-thirds',
          attributes: {
            id: 'cardholder-name'
          }

        }
      ]
    ] %}

    {% if charge.cardDetails.billingAddress %}
      {% set billingAddressArray = [
        [
          {
            text: __p('confirmDetails.address')
          },
          {
            text: charge.cardDetails.billingAddress,
            classes: 'govuk-!-width-two-thirds',
            attributes: {
              id: 'address'
            }
          }
        ]
      ] %}
    {% endif %}

    {% if (charge.gatewayAccount.emailCollectionMode === 'MANDATORY') or (charge.gatewayAccount.emailCollectionMode === 'OPTIONAL' and charge.email) %}
      {% set emailArray = [
        [
          {
            text: __p('confirmDetails.email')
          },
          {
            text: charge.email,
            classes: 'govuk-!-width-two-thirds',
            attributes: {
              id: 'email'
            }
          }
        ]
      ] %}
    {% endif %}

    {{
      govukTable({
        caption: __p('confirmDetails.cardDetails'),
        captionClasses: 'govuk-!-font-size-24 govuk-!-margin-top-3 govuk-!-margin-bottom-3',
        firstCellIsHeader: true,
        rows: cardDetailsArray.concat(billingAddressArray).concat(emailArray)
      })
    }}

    <form id="cancel" name="cancel" method="POST" action="{{ post_cancel_action }}" class="form">
      <div>
        <input id="cancel-payment" type="submit" class="button-reset" value="{{ __p("commonButtons.cancelButton") }}" name="cancel">
        <input id="csrf2" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      </div>
    </form>
  </div>
</div>
{% endblock %}
