{% extends "layout.njk" %}

{% block page_title %}
  Confirm your payment
{% endblock %}

{% block content %}
  <main id="content" role="main" class="content-wrapper confirm-page">
    <h1 class="form-title">Confirm your payment</h1>

    <table class="confirm-details">
      <tr>
        <th>Card number:</th>
        <td id="card-number" class="details">{{ charge.cardDetails.cardNumber }}</td>
      </tr>
      <tr>
        <th>Expiry date:</th>
        <td id="expiry-date" class="details">{{ charge.cardDetails.expiryDate }}</td>
      </tr>
      <tr>
        <th>Name on card:</th>
        <td id="cardholder-name" class="details">{{ charge.cardDetails.cardholderName }}</td>
      </tr>
      <tr>
        <th>Billing address:</th>
        <td id="address" class="details">{{ charge.cardDetails.billingAddress }}</td>
      </tr>
      <tr>
        <th>Confirmation email:</th>
        <td id="email" class="details">{{ charge.email }}</td>
      </tr>
    </table>

    <form id="confirmation" method="POST" action="{{ confirmPath }}" class="form">
      <input id="csrf" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      <input id="chargeId" name="chargeId" type="hidden" value="{{ charge.id }}"/>
      <button id="confirm" class="button" data-module="stop-double-submit">Confirm payment</button>
    </form>
    <form id="cancel" name="cancel" method="POST" action="{{ post_cancel_action }}" class="form">
      <div>
        <input id="cancel-payment" type="submit" class="link" value="Cancel payment" name="cancel">
        <input id="csrf2" name="csrfToken" type="hidden" value="{{ csrf }}"/>
      </div>
    </form>
    <aside class="payment-summary">
      <div class="inner js-stick-at-top-when-scrolling">
        <h2>Payment summary</h2>
        <p>
          <span id="payment-description">{{ charge.description }}</span>
        </p>
        <p>
          Total amount:
          <span id="amount" class="amount">£{{ charge.amount }}</span>
        </p>
      </div>
    </aside>
  </main>
{% endblock %}
