{% extends "layout.njk" %}

{% block pageTitle %}
  An error occurred - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l">
      An error occurred:
    </h3>
    <p class="govuk-body-l">
      <a id="return-url" href="{{ returnUrl }}">Return to service</a>
    </p>
    <div class="govuk-body" id="errorMsg">{{ message }}</div>
  </div>
</div>
{% endblock %}
