{% extends "layout.njk" %}

{% block pageTitle %}
  {{ __("errorViews.error") }} - GOV.UK Pay
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper error-pages govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l general-error">
        {{ __("errorViews.error") }}
      </h1>
      <p id="errorMsg" class="govuk-body-l lede">{{ message }}</p>
      {% if returnUrl %}
        <p class="govuk-body-l"><a id="return-url" class="govuk-link lede" href="{{ returnUrl }}">{{ __("errorViews.tryAgain") }}</a></p>
      {% endif %}
    </div>
  </main>
{% endblock %}
