{% extends "layout.njk" %}

{% block pageTitle %}
  {{ i18n.errorViews.error }} - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-l">
      {{ i18n.errorViews.error }}:
    </h3>
    <p class="govuk-body-l lede">
      <a id="return-url" class="govuk-link" href="{{ returnUrl }}">{{ i18n.commonButtons.goBackToService }}</a>
    </p>
    <div class="govuk-body" id="errorMsg">{{ message }}</div>
  </div>
</div>
{% endblock %}
