{% extends "layout.njk" %}

{% block pageTitle %}
  An error occurred - GOV.UK Pay
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper error-pages grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large general-error">
        An error occurred
      </h1>
      <p id="errorMsg" class="lede">{{ message }}</p>
      {% if returnUrl %}
        <a id="return-url" class="lede" href="{{ returnUrl }}">Go back to start the payment again</a>
      {% endif %}
    </div>
  </main>
{% endblock %}
