{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set htmlLang = language %}

{% block head %}
  {% if service and service.customBranding and service.customBranding.cssUrl %}
    <link href="{{ service.customBranding.cssUrl }}" media="all" rel="stylesheet"/>
  {% else %}
    <link href="{{ css_path }}" media="all" rel="stylesheet"/>
  {% endif %}

  {% include "includes/analytics.njk" %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% if service and service.customBranding and service.customBranding.cssUrl %}
  {% set bodyClasses = "custom-branding" %}
{% endif %}

{% set serviceName = service.name[language] %}

{% if not serviceName %}
  {% set serviceName = service.name.en %}
{% endif %}

{% block header %}
  {% if service and service.customBranding and service.customBranding.cssUrl %}
    {% include "includes/custom.njk" %}
  {% else %}
    {{ govukHeader({
      serviceName: serviceName,
      attributes : {
        'data-cy': 'header'
      }
    }) }}
  {% endif %}
  {% if isTestPayment %}
    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: "Test service"
        },
        html: 'This is a test payment service.'
      }) }}
    </div>
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "includes/scripts.njk" %}
{% endblock %}

{% block footer %}
  {% if service and service.merchantDetails and service.merchantDetails.name %}
    {% set footerMetaText = 'Service provided by ' + service.merchantDetails.name %}
    
    {% if service.merchantDetails.addressLine1 %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.addressLine1 %}
    {% endif %}
    
    {% if service.merchantDetails.addressLine2 %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.addressLine2 %}
    {% endif %}

    {% if service.merchantDetails.city %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.city %}
    {% endif %}

    {% if service.merchantDetails.postcode %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.postcode %}
    {% endif %}

    {% if service.merchantDetails.countryName %}
      {% set footerMetaText = footerMetaText + ', ' + service.merchantDetails.countryName %}
    {% endif %}
  {% else %}
    {% set footerMetaText = '' %}
  {% endif %}

  {{ govukFooter({
    meta: {
      items: [
        {
          text: 'Privacy notice',
          href: 'https://www.payments.service.gov.uk/privacy'
        },
        {
          text: 'reCAPTCHA notice',
          href: 'https://www.payments.service.gov.uk/recaptcha-notice'
        },
        {
          text: 'Cookies',
          href: 'https://www.payments.service.gov.uk/cookies'
        },
        {
          text: 'Accessibility statement',
          href: 'https://www.payments.service.gov.uk/accessibility-statement/'
        }
      ],
      text: footerMetaText
    },
    attributes : {
        'data-cy': 'footer'
      }
  }) }}
{% endblock %}
