{% extends "../../govuk_modules/govuk_template/views/layouts/govuk_template.njk" %}

{% block head %}
  {% include "includes/head.njk" %}
  {% include "includes/analytics.njk" %}
{% endblock %}

{% block fontsStylesheets %}
{# Clear fonts because we want to only load them if not custom branding, see head.njk #}
{% endblock %}

{% block body_classes %}
  {% if service and service.customBranding and service.customBranding.cssUrl %}custom-branding{% endif %}
{% endblock %}

{% block inside_header %}
  {% if service and service.customBranding and service.customBranding.imageUrl %}
    {% include "includes/custom.njk" %}
  {% endif %}
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.njk" %}
{% endblock %}

{% block header_class %}with-proposition{% endblock %}

{% block cookie_message %}
  {% include "includes/cookie-message.njk" %}
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.njk" %}
{% endblock %}

{% block footer_support_links %}
  {% include "includes/merchant_details.njk" %}
  {% include "includes/privacy_notice.njk" %}
{% endblock %}
