{% extends "layout.njk" %}

{% block pageTitle %}
  TEST - GOV.UK Pay
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper error-pages govuk-grid-row">
    <p>Test</p>
    <p>Test 2</p>
  </main>
{% endblock %}
