{% extends "layout.njk" %}

{% block pageTitle %}
  Your payment has been cancelled - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l user-cancel">Your payment has been cancelled</h1>
    <p class="govuk-body-l lede">No money has been taken from your account</p>
    <p class="govuk-body-l lede">
      <a id="return-url" class="govuk-link" href="{{ returnUrl }}">Go back to the service</a>
    </p>
    <p class="govuk-body-l lede">You can try to pay again</p>
  </div>
</div>
{% endblock %}
