{% extends "layout.njk" %}

{% block pageTitle %}
  {{ i18n.authorisation.userCancelledPayment }} - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l user-cancel">{{ i18n.authorisation.userCancelledPayment }}</h1>
    <p class="govuk-body-l lede">{{ i18n.errorViews.noMoneyTaken }}</p>
    <p class="govuk-body-l lede">
      <a id="return-url" class="govuk-link" href="{{ returnUrl }}">{{ i18n.authorisation.goBackToService }}</a>
    </p>
  </div>
</div>
{% endblock %}
