{% extends "layout.njk" %}

{% block pageTitle %}
  {{ __("authorisation.userCancelledPayment") }} - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l user-cancel">{{ __("authorisation.userCancelledPayment") }}</h1>
    <p class="govuk-body-l lede">{{ __("errorViews.noMoneyTaken") }}</p>
    <p class="govuk-body-l lede">
      <a id="return-url" class="govuk-link" href="{{ returnUrl }}">{{ __("commonButtons.goBackToService") }}</a>
    </p>
  </div>
</div>
{% endblock %}
