{% extends "layout.njk" %}

{% block pageTitle %}
  Wallet authorisation success - GOV.UK Pay
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l user-cancel">Wallet payment authorised successfully</h1>
  </div>
</div>
{% endblock %}
