@import "colours";

#payment-description {
  display: block;
  float: none;
  clear: left;
  font-weight: bold;
}

#card-details {
  overflow: visible;

  .card-no-group p {
    @include core-16;

    margin-top: 0;
    margin-bottom: 0;
    clear: left;
    color: $secondary-text-colour;
  }

  .expiry-date-label {
    margin-top: 0;
  }

  .address {
    margin-top: 15px;
  }

  .address-line-1-label {
    display: block;
    padding-top: 15px;
  }

  #address-line-2 {
    margin-bottom: 0;
  }

  #submit-card-details {
    @include core-19;
    margin-top: 15px;
    font-weight: normal;
  }
}

#cancel-payment {
  // Remove all decorations to look like normal text
  display: inline;
  margin: 10px 0 0 2px;
  padding: 0;
  border: 0;
  outline: none;
  outline-offset: 0;
  color: $link-colour;
  background: none;
  font: inherit;
  // Additional styles to look like a link
  text-decoration: underline;
  cursor: pointer;
  font-size: 19px;
}

#footer .footer-meta .footer-meta-inner {
  .merchant-details,
  .merchant-details-line-1,
  .merchant-details-line-2 {
    display: block;
  }
}
