@import "colours";

#payment-description {
  clear: left;
  display: block;
  float: none;
  font-weight: bold;
}

form#card-details {
  overflow: visible;

  input#card-no {
    max-width: 400px;
  }

  .card-no-group p {
    clear: left;
    @include core-16();
    color: $secondary-text-colour;
    margin-bottom: 0;
    margin-top: 0;
  }

  .expiry-date-label {
    margin-top: 0;
  }

  .address {
    margin-top: 15px;
  }

  .address-line-1-label {
    padding-top: 15px;
    display: block;
  }

  #address-line-2 {
    margin-bottom: 0;
  }

  #submit-card-details {
    @include core-19();
    font-weight: normal;
    margin-top: 15px;
  }
}

#cancel-payment {
  /* Remove all decorations to look like normal text */
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 10px 0 0 2px;
  padding: 0;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  color: $link-colour;
  cursor: pointer;
  text-decoration: underline;
}
